@{
    ViewData["Title"] = "À propos de nous";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>
        ImmoDemo est bien plus qu’une agence immobilière ordinaire. Nous sommes votre partenaire dévoué dans la réalisation de tous vos projets immobiliers, offrant une expertise de qualité et un service personnalisé à chaque étape du processus.

        Que vous souhaitiez vendre ou mettre en location un bien, ou que vous soyez à la recherche d’une propriété à acheter ou à louer, notre équipe de professionnels est là pour vous guider.

        Nous comprenons que chaque transaction immobilière est unique, c’est pourquoi nous nous engageons à vous fournir des conseils avisés sur les tendances du marché, les prix compétitifs, ainsi que sur tous les aspects juridiques.
    </p>
</div>
