<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="Logs/nlog-internal.log">

	<!-- Définition des targets (fichiers de logs) -->
	<targets>
		<!-- Fichier principal -->
		<target xsi:type="File"
				name="file"
				fileName="C:\\Users\\gille\\Desktop\\Stage Webulous\\Immo-Analytics\\Webulous.Tracking\\Logs\\ErrorLogs\\errorLogs.log"
				autoCreateDirs="true"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=ToString}"
				concurrentWrites="true"
				keepFileOpen="false"
				encoding="utf-8"
				archiveFileName="Logs/ErrorLogs/archives/app.{#}.log"
				archiveEvery="Day"
				maxArchiveFiles="15" />
	</targets>

	<!-- Règles de logging -->
	<rules>
		<!-- Logger Warning et Error pour toutes les classes -->
		<logger name="*" minlevel="Warn" writeTo="file" />
	</rules>
</nlog>